<div class="pokemon-card" routerLink='/pokemon/{{pokemon.name}}'>
	<h4>{{pokemon.name | titlecase}}</h4>
	<div>
		<img [src]="pokemon.image" [alt]="pokemon.name">
	</div>
	<span *ngFor='let type of pokemon.types; last as isLast'>{{type.type.name | titlecase}}<span *ngIf='!isLast'>,</span> </span>
</div>