.pokemon-card {
    border: solid 1px #f3f3f3;
    border-radius: 27px;
    height: 237px;
    margin: 13px;
    text-align: center;
    width: 176px;
}
.pokemon-card div {
    width: 100%;
}
.pokemon-card:hover {
    box-shadow: 5px 5px #f3f3f3;
    cursor: pointer;
}