#Login-Form form {
    display: flex;
    flex-direction: column;
}
#Login-Form {
    margin: auto;
    width: 50%;
}
#Login-Form > * {
    width: 100%;
}
@media only screen and (max-width: 800px) {
    #Login-Form {
        width: 70%;
    }
}