<div id="Login-Form">
    <img src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" alt="Pokedex Logo">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="">
            <input matInput placeholder="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="">
            <input matInput placeholder="password" type="password" formControlName="password" required>
        </mat-form-field>
        <button class="submit-btn" mat-raised-button color="warn" type="submit" [disabled]="!loginForm.valid || isLoading">Submit</button>
        <button mat-button routerLink='/register'>Register</button>
    </form>
</div>