<h1>{{pokemon.name | titlecase}}</h1>
<div id='Pok-Profile'>
  <div class='pok-column'>
    <table>
      <tr>
        <td colspan="2">
          <img [src]='pokemon.image' [alt]='pokemon.name'>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span *ngFor='let type of pokemon.types; last as isLast'>{{type.type.name | titlecase}}<span
              *ngIf='!isLast'>,</span> </span>
        </td>
      </tr>
      <tr>
        <td>ID:</td>
        <td>{{pokemon.id}}</td>
      </tr>
      <tr>
        <td>Height:</td>
        <td>{{pokemon.height}}</td>
      </tr>
      <tr>
        <td>Weight:</td>
        <td>{{pokemon.weight}}</td>
      </tr>
    </table>
  </div>
  <div class='pok-column'>
    <p><label>Moves: </label></p>
    <mat-chip-list aria-label="Pokemon Movements">
      <mat-chip *ngFor='let move of pokemon.moves'>{{move['move']['name']}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
<div id='Pok-List'>
  <h2>Evolution Chain</h2>
  <app-card *ngFor='let pokItem of evList' [pokUrl]='pokItem?.name'></app-card>
</div>  