#Main-Content {
    background-color: #F71953;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#Pok-Container {
    background-color: #F0EFEA;
    margin: 25px 25px 52px 25px;
}
#Pok-Main {
    background-color: white;
    margin: 31px;
}
#Pok-Main, #Pok-Container {
    border: solid;
    border-radius: 0px 27px;
    display: flex;
    flex: 1;
    flex-direction: column;
}