/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    padding: 0px;
    background-color: #F71953;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
