<form (ngSubmit)="searchPokemon()">
    <mat-form-field class="">
        <input matInput placeholder="Search" [(ngModel)]='search' name='search'>
    </mat-form-field>
    <button mat-raised-button color="warn"(click)="pokItemList=[];getPokemons()" *ngIf="searching">See all</button>
</form>
<div id='Pok-List'>
    <app-card *ngFor='let pokItem of pokItemList' [pokUrl]='pokItem?.name'></app-card>
</div>