<div id="Register-Form">
    <img src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" alt="Pokedex Logo">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field class="">
            <input matInput placeholder="Full name" formControlName="fullname" required>
        </mat-form-field>
        <mat-form-field class="">
            <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="">
            <input matInput placeholder="Password" type="password" formControlName="password" required>

        </mat-form-field>
        <mat-form-field class="">
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>

        </mat-form-field>
        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!registerForm.valid">Register</button>
        <button mat-button routerLink='/login'>Login</button>
    </form>
</div>